name: check

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    continue-on-error: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: taiki-e/install-action@just
      # Checkout js.mbt dependency (required for mizchi/js)
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install dependencies
        run: pnpm install
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"
      - name: Setup Moon
        uses: illusory0x0/setup-moonbit@v0.1.0
        with:
          version: stable
      - name: Install module dependencies
        run: |
          moon update
          moon install
      - name: Moon test
        run: |
          just test